<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- Banner Section -->
    <div class="banner">
        <img src="../static/images/banner.jpg" alt="Banner">
    </div>

    <!-- Logo Overlapping Below Banner -->
    <div class="logo-circle">
        <img src="../static/images/logo.webp" alt="Logo">
    </div>

    <!-- Main Content -->
    <div class="upload-container">
        <div class="upload-area">
            <img src="../static/images/drag.png" alt="Drag File" class="drag-icon">
            <p>اسحب وأفلت هنا <br> أو</p>
            <input type="file" id="fileInput" style="display: none;">
            <button id="uploadButton">اختر الملف</button>
        </div>

        <!-- Icons Section -->
        <div class="icons">
            <img src="../static/images/word-icon.webp" alt="Word Icon" class="icon left">
            <img src="../static/images/pdf-icon.webp" alt="PDF Icon" class="icon right">
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
