<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processing</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- Banner Section -->
    <div class="banner">
        <img src="../static/images/banner.jpg" alt="Banner">
    </div>

    <!-- Logo -->
    <div class="logo-circle">
        <img src="../static/images/logo.webp" alt="Logo">
    </div>

    <!-- Processing Section -->
    <div class="upload-container">
        <div class="upload-area">
            <img src="../static/images/loading.gif" alt="Loading" class="drag-icon">
            <p>جاري العمل على استخراج النصوص...</p>
        </div>
    </div>
</body>
</html>
